/* Desktop version */
@media (min-width: 992px){
    body{
        font-family: 'Varela Round', sans-serif;
        overflow-x: hidden;
    }
    /* Navbar */
    nav{
        color: white;
    }
    .nav-scroll{
        background-color: #273036 !important;
    }
    .navbar-brand{
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 5px;
        color: whitesmoke;
    }
    .navbar-brand:hover{
        color: whitesmoke;
    }
    .nav-link{
        font-weight: 200;
    }
    .nav-link:hover{
        border-bottom: 3px solid rgb(0, 255, 238, .3);
        transition: .2s;
        font-weight: bold;
        margin-top: -2px ;
    } 

    #projects{
        background-image: url('./assets/outer-1658213261747-1848.jpg');
        background-attachment: fixed;
    }

    /* Home */
    .personal{
        text-align: center;
        background-image: url('./assets/outer-1658213261747-1848.jpg');
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        overflow-x: hidden;
        position: relative;
    }
    .personal::after{
        content: '';
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
        position: absolute;
    }
    .home-items{
        position: relative;
        z-index: 1;
    }
    .headline{
        font-size: 65px !important;
        color: whitesmoke;
        font-weight: 20;
        letter-spacing: 20px;
    }
    .desc{
        font-size: 18px !important;
        color: whitesmoke;
    }
    .btn-lg {
        color: whitesmoke;
        background-color: rgb(0, 255, 238, .3);
        border: 1px solid black;
    }

    /* About */
    .about{
        height: 100vh;
    }
    .wrapper{
        height: inherit;
        background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    }
    .about-img{
        width: 90%;
        height: 90%;
        margin-top: 100px;
        border: none;
        filter: drop-shadow(8px 8px 10px black);
    }
    .left, .right{
        margin-top: 100px;
    }
    .right > h1{
        color: whitesmoke;
    }
    .right > p{
        color: whitesmoke;
        font-size: 20px;
        text-align: justify;
    }
    /* Projects */
    .proj-desc{
        margin-top: 50px;
        color: whitesmoke;
    }
    
    h1{
        font-weight: 500;
    }

    .box{
        /* background-color: #273036; */
        border-radius: 10px;
        height: 500px;
        position: relative;
        color: white;
        transform-style: preserve-3d;
    }
    .box:hover{
        background-color: #273036;
    }

}


/* Mobile Version */
body{
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
}



/* Navbar */
.navbar .navbar-toggler-icon {
    /* background-image: url(./assets/rocket.gif); */
    border: none;

}
.bi-gear{
    font-size: 30px;
    color: whitesmoke;
}

.navbar-brand{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
    color: whitesmoke;
}
.navbar-brand:hover{
    color: whitesmoke;
}
.nav-link{
    font-weight: 200;
    margin-left: -20px;
}
.nav-link:hover{
    color: rgb(0, 255, 238, .3);
    transition: .2s;
    font-weight: bold;
}


/* Home */
.personal{
    text-align: center;
    background-image: url('./assets/outer-1658213261747-1848.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}
.personal::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
}
.home-items{
    position: relative;
    z-index: 1;
}
.headline{
    font-size: 25px;
    color: whitesmoke;
    font-weight: 20;
    letter-spacing: 10px;
}
.desc{
    font-size: 12px;
    color: whitesmoke;
}
.btn-lg {
    color: whitesmoke;
    background-color: rgb(0, 255, 238, .3);
    border: 1px solid black;
}

/* About */
.about{
    height: 100vh;
}
.wrapper{
    height: inherit;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.about-img{
    width: 90%;
    height: 90%;
    border: none;
    filter: drop-shadow(8px 8px 10px black);
}
.left, .right{
    margin-top: 75px;
    text-align: center;
}

.right {
    color: black;
}
.right > p{
    font-size: 16px;
    text-align: justify;
}
/* Products */

.prod{
    background-image: url('./assets/outer-1658213261747-1848.jpg');
    color: white;
    height: 200px;
    background-attachment: fixed;
}

/* Projects */
.proj-desc{
    margin-top: 50px;
    color: whitesmoke;
}

h1{
    font-weight: 500;
}
.box{
    /* background-color: #273036; */
    border-radius: 10px;
    height: 500px;
    position: relative;
    color: white;
    transform-style: preserve-3d;
}
.box:hover{
    background-color: #273036;
}

.box::before {
    content: "OUR";
    color: white;
    position: absolute;
    font-size: 6em;
    font-weight: bold;
    font-style: italic;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
    overflow: hidden;
}
.box:hover::before {
    opacity: 0.2;
}

.box::after {
    content: "PLANETS";
    color: white;
    position: absolute;
    font-size: 5em;
    font-weight: bold;
    font-style: italic;
    top: 330px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
}
.box:hover::after {
    opacity: 0.2;
}
.name {
    color: white;
    top: 0;
    text-align: center;
    font-size: 2em;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    width: 100%;
    transform: translateZ(50px);
}
.box:hover .name {
    top: 20px;
    opacity: 1;
}
.detail-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translate3D(-50%, 0, 101px);
    transition: 0.5s;
}
.box:hover .detail-button {
    opacity: 1;
    bottom: 15px;
}
.planet-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3D(-50%, -45%, 100px);
    max-width: 280px;
    transition: 0.5s;
}

.planet-img:hover {
    transform: translate3D(-50%, -45%, 100px) scale(1.3);
}
/*  Footer */
footer {
    padding-bottom: 50px;
    background-color: #273036;
    color: white !important;
}
.bi-instagram,
.bi-twitter,
.bi-github,
.bi-linkedin {
  color: white;
  font-size: 25px;
  transition: 0.5s;
}
.bi:hover{
    margin-top: -25px;
}
.bi-instagram:hover {
  font-size: 40px;
  color: rgb(138, 58, 185);
}

.bi-twitter:hover {
  font-size: 40px;
  color: cornflowerblue;
}
.bi-linkedin:hover {
  font-size: 40px;
  color: cornflowerblue;
}
.bi-github:hover {
  font-size: 40px;
  color: green;
}
.footer{
    padding-top: 10px;
}
.socmed{
    margin-left: -40px;
    margin-top: -10px;
}

